-- CreateEnum
CREATE TYPE "UserTier" AS ENUM ('FREE', 'PREMIUM');

-- CreateEnum
CREATE TYPE "LicenseType" AS ENUM ('TRIAL', 'PAID');

-- CreateEnum
CREATE TYPE "LicenseStatus" AS ENUM ('ACTIVE', 'EXPIRED', 'SUSPENDED', 'CANCELLED');

-- CreateEnum
CREATE TYPE "ImportStatus" AS ENUM ('UPLOADING', 'UPLOADED', 'PROCESSING', 'COMPLETED', 'FAILED', 'CANCELLED');

-- CreateEnum
CREATE TYPE "ExportStatus" AS ENUM ('PENDING', 'PROCESSING', 'COMPLETED', 'FAILED', 'EXPIRED');

-- CreateEnum
CREATE TYPE "ExportFormat" AS ENUM ('STL', 'OBJ', 'GLTF', 'GLB', 'THREE_MF', 'STEP', 'IGES');

-- CreateEnum
CREATE TYPE "ProjectStatus" AS ENUM ('DRAFT', 'ACTIVE', 'PROCESSING', 'COMPLETED', 'ARCHIVED', 'DELETED');

-- CreateEnum
CREATE TYPE "ErrorSeverity" AS ENUM ('LOW', 'MEDIUM', 'HIGH', 'CRITICAL');

-- CreateEnum
CREATE TYPE "ErrorCategory" AS ENUM ('IMPORT_ERROR', 'PROCESSING_ERROR', 'EXPORT_ERROR', 'VALIDATION_ERROR', 'SYSTEM_ERROR', 'NETWORK_ERROR', 'PAYMENT_ERROR', 'AUTH_ERROR');

-- CreateEnum
CREATE TYPE "PaymentStatus" AS ENUM ('PENDING', 'PROCESSING', 'COMPLETED', 'FAILED', 'REFUNDED', 'CANCELLED');

-- CreateEnum
CREATE TYPE "PaymentMethod" AS ENUM ('CREDIT_CARD', 'DEBIT_CARD', 'UPI', 'NET_BANKING', 'WALLET', 'RAZORPAY', 'STRIPE');

-- CreateEnum
CREATE TYPE "SubscriptionStatus" AS ENUM ('ACTIVE', 'PAST_DUE', 'CANCELLED', 'EXPIRED');

-- CreateTable
CREATE TABLE "users" (
    "id" TEXT NOT NULL,
    "email" TEXT NOT NULL,
    "password_hash" TEXT NOT NULL,
    "email_verified" BOOLEAN NOT NULL DEFAULT false,
    "verification_token" TEXT,
    "verification_token_expiry" TIMESTAMP(3),
    "password_reset_token" TEXT,
    "password_reset_expiry" TIMESTAMP(3),
    "failed_login_attempts" INTEGER NOT NULL DEFAULT 0,
    "locked_until" TIMESTAMP(3),
    "mfa_enabled" BOOLEAN NOT NULL DEFAULT false,
    "mfa_secret" TEXT,
    "name" TEXT,
    "avatar_url" TEXT,
    "preferences" JSONB DEFAULT '{}',
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,
    "last_login_at" TIMESTAMP(3),
    "deleted_at" TIMESTAMP(3),
    "phone_number" TEXT,
    "organization" TEXT,
    "job_title" TEXT,
    "country" TEXT,
    "industry" TEXT,
    "tier" "UserTier" DEFAULT 'FREE',
    "model_limit" INTEGER DEFAULT 5,
    "models_used" INTEGER DEFAULT 0,
    "time_spent" INTEGER DEFAULT 0,
    "max_step_reached" INTEGER DEFAULT 0,
    "last_session_final_step" INTEGER DEFAULT 0,

    CONSTRAINT "users_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "refresh_tokens" (
    "id" TEXT NOT NULL,
    "user_id" TEXT NOT NULL,
    "token_hash" TEXT NOT NULL,
    "expires_at" TIMESTAMP(3) NOT NULL,
    "revoked" BOOLEAN NOT NULL DEFAULT false,
    "revoked_at" TIMESTAMP(3),
    "replaced_by_token" TEXT,
    "ip_address" TEXT,
    "user_agent" TEXT,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "refresh_tokens_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "licenses" (
    "id" TEXT NOT NULL,
    "user_id" TEXT NOT NULL,
    "license_type" "LicenseType" NOT NULL,
    "status" "LicenseStatus" DEFAULT 'ACTIVE',
    "date_start" TIMESTAMP(6) NOT NULL,
    "date_end" TIMESTAMP(6),
    "created_at" TIMESTAMP(6) DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(6) DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "licenses_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "subscriptions" (
    "id" TEXT NOT NULL,
    "user_id" TEXT NOT NULL,
    "tier" "UserTier" NOT NULL,
    "status" "SubscriptionStatus" DEFAULT 'ACTIVE',
    "billing_cycle" TEXT NOT NULL,
    "amount" DOUBLE PRECISION NOT NULL,
    "currency" TEXT DEFAULT 'INR',
    "model_limit" INTEGER NOT NULL,
    "start_date" TIMESTAMP(6) NOT NULL,
    "end_date" TIMESTAMP(6),
    "next_billing_date" TIMESTAMP(6),
    "cancelled_at" TIMESTAMP(6),
    "auto_renew" BOOLEAN DEFAULT true,
    "metadata" JSONB,
    "created_at" TIMESTAMP(6) DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(6) DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "subscriptions_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "payments" (
    "id" TEXT NOT NULL,
    "user_id" TEXT NOT NULL,
    "subscription_id" TEXT,
    "amount" DOUBLE PRECISION NOT NULL,
    "currency" TEXT DEFAULT 'INR',
    "status" "PaymentStatus" DEFAULT 'PENDING',
    "payment_method" "PaymentMethod" NOT NULL,
    "gateway_provider" TEXT NOT NULL,
    "gateway_order_id" TEXT,
    "gateway_payment_id" TEXT,
    "gateway_signature" TEXT,
    "transaction_id" TEXT,
    "receipt_url" TEXT,
    "invoice_url" TEXT,
    "failure_reason" TEXT,
    "failure_code" TEXT,
    "refunded_amount" DOUBLE PRECISION,
    "refunded_at" TIMESTAMP(6),
    "refund_reason" TEXT,
    "metadata" JSONB,
    "created_at" TIMESTAMP(6) DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(6) DEFAULT CURRENT_TIMESTAMP,
    "completed_at" TIMESTAMP(6),

    CONSTRAINT "payments_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "model_imports" (
    "id" TEXT NOT NULL,
    "user_id" TEXT NOT NULL,
    "project_id" TEXT,
    "filename" TEXT NOT NULL,
    "original_filename" TEXT NOT NULL,
    "file_size" INTEGER NOT NULL,
    "file_hash" TEXT,
    "model_data" BYTEA,
    "thumbnail_data" BYTEA,
    "status" "ImportStatus" DEFAULT 'UPLOADING',
    "progress" INTEGER DEFAULT 0,
    "processing_started_at" TIMESTAMP(6),
    "processing_completed_at" TIMESTAMP(6),
    "processing_duration" INTEGER,
    "vertex_count" INTEGER,
    "face_count" INTEGER,
    "bounding_box" JSONB,
    "dimensions" JSONB,
    "volume" DOUBLE PRECISION,
    "is_valid" BOOLEAN DEFAULT true,
    "validation_errors" JSONB,
    "error_message" TEXT,
    "error_code" TEXT,
    "counts_toward_limit" BOOLEAN DEFAULT true,
    "created_at" TIMESTAMP(6) DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(6) DEFAULT CURRENT_TIMESTAMP,
    "deleted_at" TIMESTAMP(6),

    CONSTRAINT "model_imports_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "projects" (
    "id" TEXT NOT NULL,
    "user_id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "description" TEXT,
    "thumbnail_url" TEXT,
    "model_filename" TEXT,
    "model_file_type" TEXT,
    "model_file_size" INTEGER,
    "supports_count" INTEGER NOT NULL DEFAULT 0,
    "clamps_count" INTEGER NOT NULL DEFAULT 0,
    "has_baseplate" BOOLEAN NOT NULL DEFAULT false,
    "status" TEXT NOT NULL DEFAULT 'active',
    "is_public" BOOLEAN NOT NULL DEFAULT false,
    "share_token" TEXT,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,
    "last_opened_at" TIMESTAMP(3),
    "deleted_at" TIMESTAMP(3),
    "processing_time" INTEGER,
    "tooling_applied" JSONB,
    "completed_at" TIMESTAMP(6),

    CONSTRAINT "projects_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "design_versions" (
    "id" TEXT NOT NULL,
    "project_id" TEXT NOT NULL,
    "version_number" INTEGER NOT NULL,
    "name" TEXT,
    "description" TEXT,
    "thumbnail_url" TEXT,
    "changes_summary" TEXT,
    "supports_count" INTEGER NOT NULL DEFAULT 0,
    "clamps_count" INTEGER NOT NULL DEFAULT 0,
    "is_auto_save" BOOLEAN NOT NULL DEFAULT false,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "created_by" TEXT,

    CONSTRAINT "design_versions_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "exports" (
    "id" TEXT NOT NULL,
    "project_id" TEXT NOT NULL,
    "user_id" TEXT NOT NULL,
    "format" TEXT NOT NULL,
    "filename" TEXT NOT NULL,
    "file_size" INTEGER,
    "file_url" TEXT,
    "settings" JSONB,
    "status" TEXT NOT NULL DEFAULT 'completed',
    "error_message" TEXT,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "expires_at" TIMESTAMP(3),
    "export_data" BYTEA,
    "include_supports" BOOLEAN DEFAULT true,
    "include_clamps" BOOLEAN DEFAULT true,
    "include_baseplate" BOOLEAN DEFAULT true,
    "processing_time" INTEGER,
    "number_of_exports_done" INTEGER DEFAULT 1,
    "download_count" INTEGER DEFAULT 0,
    "last_downloaded_at" TIMESTAMP(6),
    "completed_at" TIMESTAMP(6),

    CONSTRAINT "exports_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "error_logs" (
    "id" TEXT NOT NULL,
    "user_id" TEXT,
    "project_id" TEXT,
    "model_import_id" TEXT,
    "export_id" TEXT,
    "category" "ErrorCategory" NOT NULL,
    "severity" "ErrorSeverity" DEFAULT 'MEDIUM',
    "error_code" TEXT NOT NULL,
    "error_message" TEXT NOT NULL,
    "error_stack" TEXT,
    "operation" TEXT NOT NULL,
    "step" TEXT,
    "browser_info" JSONB,
    "device_info" JSONB,
    "url" TEXT,
    "method" TEXT,
    "status_code" INTEGER,
    "user_action" TEXT,
    "resolved" BOOLEAN DEFAULT false,
    "resolved_at" TIMESTAMP(6),
    "resolution" TEXT,
    "metadata" JSONB,
    "created_at" TIMESTAMP(6) DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "error_logs_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "shared_projects" (
    "id" TEXT NOT NULL,
    "project_id" TEXT NOT NULL,
    "shared_by" TEXT NOT NULL,
    "shared_with" TEXT,
    "permission" TEXT NOT NULL DEFAULT 'view',
    "share_type" TEXT NOT NULL,
    "share_token" TEXT,
    "accepted" BOOLEAN NOT NULL DEFAULT false,
    "revoked" BOOLEAN NOT NULL DEFAULT false,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "accepted_at" TIMESTAMP(3),
    "revoked_at" TIMESTAMP(3),
    "expires_at" TIMESTAMP(3),

    CONSTRAINT "shared_projects_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "cloud_backups" (
    "id" TEXT NOT NULL,
    "project_id" TEXT NOT NULL,
    "user_id" TEXT NOT NULL,
    "backup_name" TEXT,
    "compressed_data" BYTEA,
    "file_size" INTEGER NOT NULL,
    "checksum" TEXT NOT NULL,
    "compression_type" TEXT NOT NULL DEFAULT 'gzip',
    "original_size" INTEGER,
    "metadata" JSONB,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "accessed_at" TIMESTAMP(3),

    CONSTRAINT "cloud_backups_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "audit_logs" (
    "id" TEXT NOT NULL,
    "user_id" TEXT,
    "action" TEXT NOT NULL,
    "resource" TEXT,
    "resource_id" TEXT,
    "status" TEXT NOT NULL,
    "error_message" TEXT,
    "ip_address" TEXT,
    "user_agent" TEXT,
    "metadata" JSONB,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "audit_logs_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE UNIQUE INDEX "users_email_key" ON "users"("email");

-- CreateIndex
CREATE INDEX "users_email_idx" ON "users"("email");

-- CreateIndex
CREATE INDEX "users_verification_token_idx" ON "users"("verification_token");

-- CreateIndex
CREATE INDEX "users_password_reset_token_idx" ON "users"("password_reset_token");

-- CreateIndex
CREATE INDEX "idx_users_organization" ON "users"("organization");

-- CreateIndex
CREATE INDEX "idx_users_tier" ON "users"("tier");

-- CreateIndex
CREATE UNIQUE INDEX "refresh_tokens_token_hash_key" ON "refresh_tokens"("token_hash");

-- CreateIndex
CREATE INDEX "refresh_tokens_user_id_idx" ON "refresh_tokens"("user_id");

-- CreateIndex
CREATE INDEX "refresh_tokens_token_hash_idx" ON "refresh_tokens"("token_hash");

-- CreateIndex
CREATE INDEX "refresh_tokens_expires_at_idx" ON "refresh_tokens"("expires_at");

-- CreateIndex
CREATE UNIQUE INDEX "licenses_user_id_key" ON "licenses"("user_id");

-- CreateIndex
CREATE INDEX "idx_licenses_date_end" ON "licenses"("date_end");

-- CreateIndex
CREATE INDEX "idx_licenses_license_type" ON "licenses"("license_type");

-- CreateIndex
CREATE INDEX "idx_licenses_status" ON "licenses"("status");

-- CreateIndex
CREATE INDEX "idx_licenses_user_id" ON "licenses"("user_id");

-- CreateIndex
CREATE UNIQUE INDEX "subscriptions_user_id_key" ON "subscriptions"("user_id");

-- CreateIndex
CREATE INDEX "idx_subscriptions_end_date" ON "subscriptions"("end_date");

-- CreateIndex
CREATE INDEX "idx_subscriptions_next_billing_date" ON "subscriptions"("next_billing_date");

-- CreateIndex
CREATE INDEX "idx_subscriptions_status" ON "subscriptions"("status");

-- CreateIndex
CREATE INDEX "idx_subscriptions_user_id" ON "subscriptions"("user_id");

-- CreateIndex
CREATE UNIQUE INDEX "payments_transaction_id_key" ON "payments"("transaction_id");

-- CreateIndex
CREATE INDEX "idx_payments_created_at" ON "payments"("created_at");

-- CreateIndex
CREATE INDEX "idx_payments_gateway_order_id" ON "payments"("gateway_order_id");

-- CreateIndex
CREATE INDEX "idx_payments_status" ON "payments"("status");

-- CreateIndex
CREATE INDEX "idx_payments_subscription_id" ON "payments"("subscription_id");

-- CreateIndex
CREATE INDEX "idx_payments_transaction_id" ON "payments"("transaction_id");

-- CreateIndex
CREATE INDEX "idx_payments_user_id" ON "payments"("user_id");

-- CreateIndex
CREATE INDEX "idx_model_imports_counts_toward_limit" ON "model_imports"("counts_toward_limit");

-- CreateIndex
CREATE INDEX "idx_model_imports_created_at" ON "model_imports"("created_at");

-- CreateIndex
CREATE INDEX "idx_model_imports_file_hash" ON "model_imports"("file_hash");

-- CreateIndex
CREATE INDEX "idx_model_imports_project_id" ON "model_imports"("project_id");

-- CreateIndex
CREATE INDEX "idx_model_imports_status" ON "model_imports"("status");

-- CreateIndex
CREATE INDEX "idx_model_imports_user_id" ON "model_imports"("user_id");

-- CreateIndex
CREATE UNIQUE INDEX "projects_share_token_key" ON "projects"("share_token");

-- CreateIndex
CREATE INDEX "projects_user_id_idx" ON "projects"("user_id");

-- CreateIndex
CREATE INDEX "projects_status_idx" ON "projects"("status");

-- CreateIndex
CREATE INDEX "projects_share_token_idx" ON "projects"("share_token");

-- CreateIndex
CREATE INDEX "projects_updated_at_idx" ON "projects"("updated_at");

-- CreateIndex
CREATE INDEX "design_versions_project_id_idx" ON "design_versions"("project_id");

-- CreateIndex
CREATE INDEX "design_versions_created_at_idx" ON "design_versions"("created_at");

-- CreateIndex
CREATE UNIQUE INDEX "design_versions_project_id_version_number_key" ON "design_versions"("project_id", "version_number");

-- CreateIndex
CREATE INDEX "exports_project_id_idx" ON "exports"("project_id");

-- CreateIndex
CREATE INDEX "exports_user_id_idx" ON "exports"("user_id");

-- CreateIndex
CREATE INDEX "exports_created_at_idx" ON "exports"("created_at");

-- CreateIndex
CREATE INDEX "exports_expires_at_idx" ON "exports"("expires_at");

-- CreateIndex
CREATE INDEX "idx_error_logs_category" ON "error_logs"("category");

-- CreateIndex
CREATE INDEX "idx_error_logs_created_at" ON "error_logs"("created_at");

-- CreateIndex
CREATE INDEX "idx_error_logs_project_id" ON "error_logs"("project_id");

-- CreateIndex
CREATE INDEX "idx_error_logs_resolved" ON "error_logs"("resolved");

-- CreateIndex
CREATE INDEX "idx_error_logs_severity" ON "error_logs"("severity");

-- CreateIndex
CREATE INDEX "idx_error_logs_user_id" ON "error_logs"("user_id");

-- CreateIndex
CREATE UNIQUE INDEX "shared_projects_share_token_key" ON "shared_projects"("share_token");

-- CreateIndex
CREATE INDEX "shared_projects_project_id_idx" ON "shared_projects"("project_id");

-- CreateIndex
CREATE INDEX "shared_projects_shared_with_idx" ON "shared_projects"("shared_with");

-- CreateIndex
CREATE INDEX "shared_projects_share_token_idx" ON "shared_projects"("share_token");

-- CreateIndex
CREATE INDEX "shared_projects_expires_at_idx" ON "shared_projects"("expires_at");

-- CreateIndex
CREATE INDEX "cloud_backups_project_id_idx" ON "cloud_backups"("project_id");

-- CreateIndex
CREATE INDEX "cloud_backups_user_id_idx" ON "cloud_backups"("user_id");

-- CreateIndex
CREATE INDEX "cloud_backups_created_at_idx" ON "cloud_backups"("created_at");

-- CreateIndex
CREATE INDEX "audit_logs_user_id_idx" ON "audit_logs"("user_id");

-- CreateIndex
CREATE INDEX "audit_logs_action_idx" ON "audit_logs"("action");

-- CreateIndex
CREATE INDEX "audit_logs_created_at_idx" ON "audit_logs"("created_at");

-- CreateIndex
CREATE INDEX "audit_logs_resource_resource_id_idx" ON "audit_logs"("resource", "resource_id");

-- AddForeignKey
ALTER TABLE "refresh_tokens" ADD CONSTRAINT "refresh_tokens_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "users"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "licenses" ADD CONSTRAINT "licenses_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "users"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "subscriptions" ADD CONSTRAINT "subscriptions_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "users"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "payments" ADD CONSTRAINT "payments_subscription_id_fkey" FOREIGN KEY ("subscription_id") REFERENCES "subscriptions"("id") ON DELETE SET NULL ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "payments" ADD CONSTRAINT "payments_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "users"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "model_imports" ADD CONSTRAINT "model_imports_project_id_fkey" FOREIGN KEY ("project_id") REFERENCES "projects"("id") ON DELETE SET NULL ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "model_imports" ADD CONSTRAINT "model_imports_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "users"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "projects" ADD CONSTRAINT "projects_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "users"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "design_versions" ADD CONSTRAINT "design_versions_project_id_fkey" FOREIGN KEY ("project_id") REFERENCES "projects"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "exports" ADD CONSTRAINT "exports_project_id_fkey" FOREIGN KEY ("project_id") REFERENCES "projects"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "exports" ADD CONSTRAINT "exports_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "users"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "error_logs" ADD CONSTRAINT "error_logs_export_id_fkey" FOREIGN KEY ("export_id") REFERENCES "exports"("id") ON DELETE SET NULL ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "error_logs" ADD CONSTRAINT "error_logs_model_import_id_fkey" FOREIGN KEY ("model_import_id") REFERENCES "model_imports"("id") ON DELETE SET NULL ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "error_logs" ADD CONSTRAINT "error_logs_project_id_fkey" FOREIGN KEY ("project_id") REFERENCES "projects"("id") ON DELETE SET NULL ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "error_logs" ADD CONSTRAINT "error_logs_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "users"("id") ON DELETE SET NULL ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "shared_projects" ADD CONSTRAINT "shared_projects_project_id_fkey" FOREIGN KEY ("project_id") REFERENCES "projects"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "shared_projects" ADD CONSTRAINT "shared_projects_shared_by_fkey" FOREIGN KEY ("shared_by") REFERENCES "users"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "shared_projects" ADD CONSTRAINT "shared_projects_shared_with_fkey" FOREIGN KEY ("shared_with") REFERENCES "users"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "cloud_backups" ADD CONSTRAINT "cloud_backups_project_id_fkey" FOREIGN KEY ("project_id") REFERENCES "projects"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "cloud_backups" ADD CONSTRAINT "cloud_backups_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "users"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "audit_logs" ADD CONSTRAINT "audit_logs_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "users"("id") ON DELETE SET NULL ON UPDATE CASCADE;

